.App {
    text-align: center;
}

.App-logo {
    height: 56px;
}

.App-header {
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.QuestionBuilder-questionTextInput {
    width: 90%;
}

/* latin-ext */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlC2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Some derived styles from the Web site.
*/

/**
 * Colors
 */
$grey: #f6f6f6;
$orange: #e44f32;
$green: #afd137;
$blue: #12b9bb;
$purple: #d61e7c;

body {
    background-color: #ffffff;
    font: normal 15px/22px "Source Sans Pro", Arial, sans-serif;
    color: #3f4042;
}

header {
    background-color: $grey;
}

h1 {
    font: bold 40px/40px "Source Sans Pro", Arial, sans-serif;
    color:#1f2122;
}

h2 {
    font: bold 28px/35px "Source Sans Pro", Arial, sans-serif;
    color:#1f2122;
}

h3 {
    font: bold 22px/27px "Source Sans Pro", Arial, sans-serif;
    color:#1f2122;
}

h4 {
    font: normal 20px/30px "Source Sans Pro", Arial, sans-serif;
    color:#1f2122;
}

h5 {
    font: normal 20px/30px "Source Sans Pro", Arial, sans-serif;
    color:#999b9e;
}

h6 {
    font: bold 18px/20px "Source Sans Pro", Arial, sans-serif;
    color:#1f2122;
}

button, input[type=submit] {
    border: 0px;
    padding: 11px 19px;

    font-size: 18.75px;

    color: #ffffff;
    background-color: $orange;
}

button.small {
    height: 42px;
    padding: 0 32px;
    font-size: 13px;
    margin: 2px;
}

button.tiny {
    height: 38px;
    padding: 0 16px;
    font-size: 11px;
    margin: 2px;
}

button.green {
    background-color: $green;
}

button.blue {
    background-color: $blue;
}

button.purple {
    background-color: $purple;
}

button.grey {
    background: #363942;    
}

button.grey:hover {
    text-decoration: underline;
}

button:hover, input[type=submit]:hover {
    background: #363942;
}

.questionList {
    border: 1px solid $grey;
}

.questionList>li {
    margin-top: 2px;
    padding: 2px 5px;
    background-color: $grey;
    text-align: left;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;

    background-color: #262932;
    color: #ffffff;

    width: 100%;
}
